server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/skillverse_profiles
    username: postgres
    password: skill123verse
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
